NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SUBDOMAIN=app
NEXT_PUBLIC_ADMIN_ORIGIN=https://admin.katie.vn
NEXT_PUBLIC_APP_ORIGIN=https://app.katie.vn
NEXT_PUBLIC_STUDENT_ORIGIN=https://student.katie.vn
NEXT_PUBLIC_LOGIN_URL=https://app.katie.vn/login
