NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SUBDOMAIN=app
NEXT_PUBLIC_ADMIN_ORIGIN=https://admin.katie-english.com.vn
NEXT_PUBLIC_TEACHER_ORIGIN=https://app.katie-english.com.vn
NEXT_PUBLIC_STUDENT_ORIGIN=https://student.katie-english.com.vn
NEXT_PUBLIC_LOGIN_URL=https://app.katie-english.com.vn/login
